beautifulsoup4
certifi
charset-normalizer
greenlet
idna
iniconfig
packaging
playwright
pluggy
pyee
Pygments
pytest
pytest-base-url
pytest-playwright
python-slugify
requests
soupsieve
text-unidecode
typing_extensions
urllib3
